# Next.js
fluentia/.next/
fluentia/node_modules/
fluentia/out/

# Archivos de trabajo
fluentia_web_copy.md
v11QAm5yI.png
"Página de inicio atractiva y moderna.png"
"Página de inicio de FluentIA.png"
"Página de precios clara y moderna.png"
pagina1.png
pagina2.png
pagina3.png

# OS
.DS_Store
Thumbs.db
